/* CSS declarations go here */


.lobby {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color:rgb(60,60,58);
  color: #FFFFFF;
  padding: 10px;
  font: 16px "Courier New";
  overflow-y: auto;
}

.nameinput {
  border: none;
  width: 100%;
  margin-left: -10px;
  padding: 10px;
  color: #AAAAAA;
  background-color: black;
  font: 28px "Courier New";
}

.playerlist {
  width: 100%;
  padding: 10px;
  background-image:url("hexabump_2X.png");
  margin-left: -10px;
  margin-top: 5px;
}

.playerbutton {
  font: 18px "Courier New";
  color: white;
  border: none;
  margin: 0;
  padding: 8px;
  text-shadow: 2px 2px 10px white;
  background-color: black;
}

.playerbutton:hover {
  background: linear-gradient(0deg, #11FFFF, #0099AA);
}

.playerbutton:active {
  background: linear-gradient(0deg, #008899, #11FFFF);
}

.challenge {
  width: 100%;
  padding: 10px;
  margin-left: -10px;
  background-color: #606060;
}

.chatinput {
  width: 100%;
  margin-left: -10px;
  padding: 10px;
  border: none;
  color: white;
  background-color: #202020;
  font: 16px "Courier New";
}

.chat {
  overflow-y: auto;
  width: 100%;
  margin-left: -10px;
  padding: 10px;
  color: #AAAAAA;
  background-color: #303030;
  height: 200px;
}

div.chat a {
  color: #00BBEE;
}

div.chat a:hover {
  color: #11FFFF;
}

div.chat a:visited {
  color: #5555CC;
}
.chatwrapper {
  bottom: 10px;
}

/*------------------------*/

.gamecontent {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: calc(100% - 330px);
  padding: 0px;
  z-index: -1;
  overflow: hidden;
  margin-left: 10px;
  background-color: green;
}
